.cards {
  /* border: solid 0.1rem black; */
  box-shadow: 0px 3px 10px -1px rgba(175, 175, 175, 0.66);
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 2rem;
}

.cards__header,
.cards__header--modal {
  font-weight: bold;
  color: var(--color-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__header img:hover {
  cursor: pointer;
}

.cards__header--modal h2 {
  font-size: 2.2rem;
}

.cards__header--modal button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cards__header h2 {
  font-size: 1.6rem;
}

.cards__status-type {
  display: flex;
  gap: 1rem;
}

.cards__demand-status,
.cards__demand-type {
  background-color: var(--color-3);
  color: var(--color-2);
  font-size: 1.4rem;
  text-transform: capitalize;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
}

.cards__client {
  color: var(--color-8);
}

.cards__client-text,
.cards__description {
  font-size: 1.4rem;
  font-weight: bold;
}

.cards__client-name,
.cards__description {
  font-weight: normal;
}

.cards-modal {
  background-color: var(--color-1);
  overflow: auto;
  height: 88%;
  border-radius: 1rem;
  padding: 4rem 2rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box
}

@media (min-width: 768px) {
  .cards-modal {
    margin-top: 0;
    margin-left: 58vw;
    padding-bottom: 5rem;
    height: 100%;
  }

}

@media (min-width:1024px) {
  .cards-modal {
    margin-left: 50vw;
    width: 50vw;
  }
}

.cards__documents-button {
  background-color: var(--color-12);
  border: none;
  width: 100%;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.cards__documents-button:hover {
  cursor: pointer;
}

.cards__documents-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.cards__buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}


.cards__solve-demand-button {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-4);
  color: var(--color-1);
  font-size: 1.6rem;
  padding: 1rem 2.2rem;
  border-radius: 1rem;
}

.cards__solve-demand-text {
  margin: 0;
}

.cards__cancel-button {
  border: solid 0.1rem var(--color-4);
  background-color: var(--color-1);
  color: var(--color-4);
  font-size: 1.6rem;
  padding: 1rem 2.2rem;
  border-radius: 1rem;
}

.cards__solve-demand-button:hover,
.cards__cancel-button:hover {
  cursor: pointer;
}