:root {
  --color-1: #FFFFFF;
  --color-2: #374E30;
  --color-3: #D2E5BD;
  --color-4: #7CAD39;
  --color-5: #5A8126;
  --color-6: #C8C8C8;
  --color-7: #20271D;
  --color-8: #323232;
  --color-9: #757575;
  --color-10: #E44747;
  --color-11: #f9f9f9;
  --color-12: #dfe9db;
}